body {
  background-color: #eee;
  font-family: verdana; }

.content-container {
  display: grid;
  margin: 10px;
  grid-template-columns: [sidebar-left] 30% [sidebar-right] auto;
  grid-template-rows: auto; }

.panel {
  margin: 0 5px 0 5px; }
