.folder {
  background-color: #555;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 3px 0 3px 0;
  list-style-type: none;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;

  &:hover {
    background-color: #444;
    cursor: pointer;
  }

  .remove {
    align-self: flex-end;
    &:hover {
      color: red;
    }
  }

  .expand:hover {
    color: green;
  }

  .folderlink {
  }
}

.selected {
  border-style: solid;
  border-color: #3c3c3c;
  border-width: 2px;
}

.over {
  background-color: #333;
}
